.header {
  height: 80px;
  background: #576d9d;
  background: linear-gradient(180deg, #576d9d 0%, #dadfea 100%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .header div {
    font-size: 30px; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }
  body .main, html .main {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    height: calc(100% - 10px);
    display: flex;
    justify-content: center; }
    body .main .navigation, html .main .navigation {
      width: 90%;
      border: 1px solid black;
      height: 100%;
      padding: 0 5px; }
      body .main .navigation button, html .main .navigation button {
        width: 100%;
        border-radius: 0;
        height: 40px;
        cursor: pointer;
        font-size: 20px; }
      body .main .navigation input, html .main .navigation input {
        font-size: 25px;
        width: 98.5%; }
    body .main .listMembers, html .main .listMembers {
      display: flex;
      align-items: start;
      flex-direction: column; }
      body .main .listMembers .checkbox, html .main .listMembers .checkbox {
        margin-left: 50px;
        flex: none;
        width: 25px; }
      body .main .listMembers .listMember, html .main .listMembers .listMember {
        display: flex; }
        body .main .listMembers .listMember .listMemberName, html .main .listMembers .listMember .listMemberName {
          margin-left: 5px; }
        body .main .listMembers .listMember i, html .main .listMembers .listMember i {
          margin-left: 10px; }
